@import "compass/reset"
@import "compass/utilities/general/clearfix"

@import url(https://fonts.googleapis.com/css?family=Roboto)
@import url(https://fonts.googleapis.com/css?family=Montserrat)

$baseline: 0.75em
$brandcolor: #21A6D9
$brandcolor2: #E75F44
$brandcolor3: #fff
$brandcolor4: #FCB647

.fa-facebook-official
	color: #3b5998

.fa-twitter-square
	color: #55ACEE

.fa-google-plus-square
	color: #dd4b39

*
	box-sizing: border-box
	transition: all 0.15s ease-out
	text-shadow: 1px 1px 0 rgba(0,0,0,0.15)

::selection
	background: #FCB647
html
	text-align: center

body
	padding: 0 $baseline * 2 $baseline * 2 $baseline * 2
	font-family: Roboto, Arial, sans-serif
	text-align: center
	max-width: 1400px
	margin: 0 auto

a
	border-bottom: 1px dotted #000

	&:hover
		background-color: $brandcolor2

h1,h2,h3,h4,h5
	text-transform: uppercase

h1,h2,h3,h4,h5,nav
	a
		border-bottom: 0

// Mobile
header

	@include clearfix()
	text-align: left
	margin-top: $baseline

	padding: $baseline 0

	img
		float: left
	h1
		float: left
		font-size: 2.5em
		margin-left: $baseline / 2
		font-family: 'Montserrat', serif
		text-transform: uppercase
		letter-spacing: -5px


	.share
		display: none

#nav
	background-color: $brandcolor
	padding: $baseline $baseline * 2
	display: none
	text-align: left

	a
		color: $brandcolor3
		text-decoration: none
		margin-right: $baseline
		display: block
		text-align: center
		padding: $baseline / 2
		font-size: 1.8em
		text-transform: uppercase

		&:hover
			color: #282B2E

	&:target
		display: block

		& + a
			display: none

	& + a
		display: inline-block
		text-align: center
		padding: $baseline
		background-color: $brandcolor2
		text-decoration: none
		color: $brandcolor3


article
	margin-top: $baseline * 4
	text-align: left
	@include clearfix()

	aside
		display: none

	section
		float: left
		width: 100%


		h1
			font-size: 2em
		h3
			font-size: 1em
			margin: $baseline / 2 0

			a
				text-decoration: none
				color: inherit
		img
			width: 100%
			margin-top: 16px

		.related
			display: none
			float: left
			margin: $baseline 0 0 0
			width: 15%
			min-width: 200px

			label
				font-size: 1.6em
				font-weight: bold
			ul
				margin: $baseline 0 0 0
				padding-left: $baseline * 2
				list-style-type: disc

				li
					margin: $baseline/2 0 0 0
					a
						text-decoration: none
						color: inherit


		p
			margin: $baseline * 2 0
			font-size: 1.4em
			line-height: 1.5em

			& + .related
				display: block


footer

	margin: $baseline*3 0 0 0
	background-color: $brandcolor4
	padding: $baseline $baseline*2
	color: $brandcolor3
	font-size: 2em

	i
		display: inline-block
		margin-right: $baseline

	.share
		display: block

		a, a:hover
			background: none
			border-bottom: 0


// Desktop
@media (min-width: 980px)

	body
		padding: 0 $baseline * 4 $baseline * 4 $baseline * 4

	header
		h1
			font-size: 4em
		.share
			display: block
			float: right
			font-size: 4em

			a, a:hover
				background: none
				border-bottom: 0

	#nav
		display: block

		a
			display: inline
			font-size: 1.4em

		& + a
			display: none

	article

		aside
			float: right
			width: 30%
			padding-left: $baseline * 2
			display: block

			h3
				margin-top: $baseline
				margin-bottom: $baseline/2
				font-size: 2em

				a
					text-decoration: none
					color: inherit



				&:first-child
					margin-top: 0

			p
				img
					width: 100%

		section
			width: 70%

			.related
				display: block
				float: right
				margin: $baseline * 3 0 $baseline $baseline

			p
				& + .related
					display: none


	footer
		.share
			display: none



